extends layout

block content
    div.container-fluid
        div.form-horizontal
            div.form-group
                label.detail-label.col-sm-2 Name
                p.col-sm-10= event.name
            div.form-group
                label.detail-label.col-sm-2 Start date
                p.col-sm-10= event.startDate
            div.form-group
                label.detail-label.col-sm-2 End date
                p.col-sm-10= event.endDate
            div.form-group
                label.detail-label.col-sm-2 Location
                p.col-sm-10= event.location
            div.form-group
                label.detail-label.col-sm-2 Description
                p.justified.col-sm-10= event.description
