extends layout

block content
    div.container-fluid
        if socialNetwork
            h3 Connect your #[span.capitalize-network #{socialNetwork}] account to your SpeakerThumbs account
            form(class='form-horizontal', role='form', action='/connect-account', method='POST')
                input(type="hidden", name="_csrf", value="#{csrfToken}")
                input(type="hidden", name="socialLoginOauthId", value="#{socialLoginOauthId}")
                input(type="hidden", name="socialNetwork", value="#{socialNetwork}")
                div.form-group
                    div.col-sm-3
                        input(type='text', class='form-control', id='user-email', name='email', placeholder='Email')
                div.form-group
                    div.col-sm-3
                        input(type='password', class='form-control', id='user-password', name='password', placeholder='Password')
                button(type='submit', class='btn btn-primary') Connect my account!
                div.clearfix
        h3 Create a new account
        form(class='form-horizontal', role='form', action='/signup', method='POST')
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            if socialNetwork
                input(type="hidden", name="socialLoginOauthId", value="#{socialLoginOauthId}")
                input(type="hidden", name="socialNetwork", value="#{socialNetwork}")
            div.form-group
                div.col-sm-3
                    input(type='text', class='form-control', id='user-name', name='name', placeholder='Full Name')
            div.form-group
                div.col-sm-3
                    input(type='text', class='form-control', id='user-email', name='email', placeholder='Email')
            div.form-group
                div.col-sm-3
                    input(type='password', class='form-control', id='user-password', name='password', placeholder='Password')
            button(type='submit', class='btn btn-primary') Sign up!
