extends layout

block content
    div.container-fluid
        form(class='form-horizontal', role='form', action='/talk-update', method='POST')
            div.form-group
                label(for='talk-name', class='control-label col-sm-2') Name
                div.col-sm-10
                    input(type='text', class='form-control', id='talk-name', value=talk.name, disabled)
            input(type='hidden', value=talk.name, name='talkName')
            div.form-group
                label(for='talk-description', class='control-label col-sm-2') Description
                div.col-sm-10
                    textarea(class='form-control', rows='5', id='talk-description', name='talkDescription')= talk.description
            div.form-group
                label.detail-label.col-sm-2 Event
                p.col-sm-10= talk.event.name
            input(type='hidden', name='talkEvent', value=talk.event.id)
            input(type='hidden', value=talk.id, name='talkId')
            button(type='submit', class='btn btn-primary pull-right') Salvar palestra!
